:root {
--color-primary: #fff;
--color-secondary: #F26522;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    color: var(--color-primary);
}

h1,
h2 {
text-transform: uppercase;
font-weight: 700;
line-height: 0.3;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    text-align: center;
}

.copyright {
    font-size: 1.2rem;
    text-align: center;
}

/* Contacts */

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    color: var(--color-secondary);
}

.contacts {
    list-style: none;
    margin-top: 4.5rem;
}

.contacts-item {
    margin-bottom: 1.8rem;
}

/* Section */

section {
background: url(/images/background.png);
background-repeat: no-repeat;
width: 1366px;
margin: 0 auto;
}

/* Top-block */

.container {
    width: 1024px;
    margin: 0 auto;
    
}

.top-block {
    display: flex;
    justify-content: space-between;
    text-align: end;
}

