:root {
--color-primary: #fff;
--color-secondary: #F26522;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    color: var(--color-secondary);
}

h1,
h2 {
text-transform: uppercase;
font-weight: 700;
line-height: 0.3;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    text-align: center;
}

.copyright {
    font-size: 1.2rem;
}