:root {
--color-primary: #fff;
--color-secondary: #F26522;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    color: var(--color-primary);
}

h1,
h2 {
text-transform: uppercase;
font-weight: 700;
line-height: 0.3;
}

h1 {
    font-size: 2.8rem;
    margin-top: 5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    text-align: center;
    font-weight: 400;
}

.copyright {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

/* Contacts */

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    color: var(--color-secondary);
}

.contacts {
    list-style: none;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    .contacts {
    margin-top: 4.5rem;
}
}

.contacts-item {
    margin-bottom: 1.8rem;
}

/* Section */

section {
background: url(/images/background.png);
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    section {
        height: 100vh;
    }
}

/* Top-block */

.container {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 715px;
}
}

@media screen and (min-width: 1024px) {
    .container {
    width: 1024px;
}
}

.top-block {
    text-align: end;
    margin-right: 5rem;
}

@media screen and (min-width: 768px) {
        .top-block {
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin-right: 0;
}
}

/* Logo */

    .logo-block {
    display: flex;
    margin-left: 5rem;
    }

@media screen and (min-width: 768px) {
    .logo-block {
        margin-left: 0;
    }
}

.logo {
    display: inline;
    width: 53px;
    height: 47px;
    fill: var(--color-primary);
    margin-top: 3.9rem;
    padding-right: 5px;
    }

.logo-block:hover > .logo {
    fill: var(--color-secondary);
}

.logo-block:hover > .logo-text {
    color: var(--color-secondary);
}

/* Grid */

.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 60px;
    row-gap: 20px;    
    margin: 0 auto;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 768px;
    }
    }

@media screen and (min-width: 1024px) {
.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1024px; 
}
}

/* Card */
 
.card {
    position: relative;
    width: 300px;
}

.image {
    width: 300px;
    height: 220px;
    box-sizing: border-box;
    border: 2px solid;
    border-image-source: linear-gradient(0deg,#F26522, #fff);
    border-image-slice: 1;
}

.card-header {
    margin: 2rem 0;
 }

.orange-bar {
    display: block;
    background-color: var(--color-secondary);
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: .8rem;
    opacity: 0;
    transition: transform 0.1s;
}

.card:hover .orange-bar {
    transform: translateY(-100%);
    opacity: 1;
 } 

.card:hover .bar-text {
    color: var(--color-primary);
}

.card:hover .card-header {
    color: var(--color-secondary);
}

.from {
    font-size: 1rem;
    padding-left: 1.6rem;
}

.price {
    font-size: 2rem;
    padding-left: 1.6rem;
    padding-right: 13rem;
    padding-bottom: 6rem;
}

.details {
    font-size: 1.4rem;
}

/* Card Images */

.card-images {
    width: 300px;
    height: 220px;
} 

.gallery {
background: url(/images/gallery.png);
}

.architecture {
background: url(/images/architecture.png);
}    

.duomo {
background: url(/images/duomo1.png);
}

.food {
background: url(/images/food.png);
}

.nightclub {
background: url(/images/nightclub.png);
}

.walking-tours {
background: url(/images/walktours.png);
}